version: "3.9"

services:
  frontend:
    build:
      context: ./frontend
      args:
        VITE_API_BASE_URL: /api
    ports:
      - "{{ frontend_port }}:80"
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
    environment:
      PORT: {{ backend_port }}
      CALCULATOR_API: {{ calculator_api }}
      SATELLITE_API: {{ satellite_api }}
      ROOFTOP_API: {{ rooftop_api }}
      NEXT_API: {{ next_api }}
      SATELLITE_FOLDER: /data/satellite_images
      OUTPUT_DIR: /data/output_images
      CORS_ORIGIN: {{ cors_origin }}
    volumes:
      - satellite_images:/data/satellite_images
      - output_images:/data/output_images
    ports:
      - "{{ backend_port }}:{{ backend_port }}"
    depends_on:
      - ai
      - satellite
      - pv-simulation
      - stl

  ai:
    build:
      context: ./AI
    volumes:
      - output_images:/app/output_images
    ports:
      - "{{ ai_port }}:8005"

  satellite:
    build:
      context: ./satellite
    volumes:
      - satellite_images:/app/satellite_images
    ports:
      - "8000:8000"

  pv-simulation:
    build:
      context: ./pv_simulation
    ports:
      - "8001:8001"

  stl:
    build:
      context: ./stl
    ports:
      - "8007:8007"

volumes:
  satellite_images:
  output_images:
